{% extends 'base.html.twig' %}


    {% block title %}All4Sport - boutique en ligne{% endblock %}


    {% block body %}
    <h1>Filtrage produit par rayon</h1>

  <form method="get" action="{{ path('app_accueil') }}">
    <label for="categories">Sélectionnez un rayon :</label>
    <select name="categorie" id="categories">
        <option value="">Tous les rayons</option>
        {% for categorie in categories %}
            <option value="{{ categorie.id }}" {% if app.request.query.get('categorie') == categorie.id %}selected{% endif %}>
                {{ categorie.nom }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Filtrer">
</form>


    {# {% dump(app.request.query.get('categorie')) %} #}

    {% if app.request.query.get('categorie') %}
        <h2>Produits pour le rayon sélectionné</h2>

        {# {% dump(produitsParRayon) %} #}
    <div class="container">
        <div class="row">
                {% for produit in produitsParRayon[app.request.query.get('categorie')] %}
                <div class=" mb-4 col-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ asset ('pictures/articles/' ~ produit.image) }}" alt="Le logo du produit"style="width: 70%;">
                            <p class="card-text">{{ produit.description }}</p>
                            <p class="card-text">{{ produit.prix }} €</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        {% endif %}
        </div>
    </div>
    {% if not app.request.query.get('categorie') %}
        <div class="container">
            <div class="row">
                {% for produit in produits %}
                <div class="mb-4 col-4">
                    <div class="card ">
                        <div class="card-body">
                            <img src="{{ asset('pictures/articles/' ~ produit.image) }}" alt="Le logo du produit" width="65%">
                            <hr>
                            <p class="card-text">{{ produit.description }}</p>
                            <p class="card-text">{{ produit.prix }} €</p>
                            <a href="{{ path('product_detail', {'id': produit.id}) }}">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endblock %}
