{% extends 'base.html.twig' %}

    {% block title %}Détails du produit - {{ produit.description }}{% endblock %}

    {% block body %}
    <div class="container">
        <h1>Détails du produit</h1>
        <div class="card">
            <div class="card-body">
                <img src="{{ asset ('pictures/articles/' ~ produit.image) }}" alt="Le logo du produit">
                <p>{{ produit.description }}</p>
                <p>Prix : {{ produit.prix }} €</p>
                <p>Lieu : {{ produit.lieu }}</p>
                <p>Quantité : {{ produit.quantite }}</p>
                <!-- Ajoutez d'autres détails du produit ici -->
            </div>
        </div>
    </div>
    {% endblock %}
