<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
             <link rel="shortcut icon" href="{{ asset('pictures/logo/logo.png') }}" type="image/x-icon">
            <link rel="stylesheet" href={{ asset('CSS/style.css') }}>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
  <body>
    <header class="container-fluid">
    <div class="row header">
        <div class="logo col-3 d-flex justify-content-center align-items-center">
            <a href="{{ path('app_accueil') }}">
                <img src="{{ asset('pictures/logo/logo.png') }}" alt="Logo de votre site">
            </a>
        </div>
        <div class="searchbar col-6">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
        <div class="login col-3">
            <!-- Votre contenu de connexion ici -->
        </div>
    </div>
</header>


        <div class="navbar col-12">
                    <ul class="navbar-menu">
                        <li class="nav-item">
                            <a class="nav-football" href="{{ path('app_accueil', {'categorie': 0}) }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-football"  href="{{ path('app_accueil', {'categorie': 1}) }}">Football</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-escalade"  href="{{ path('app_accueil', {'categorie': 2}) }}">Escalade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-rugby"  href="{{ path('app_accueil', {'categorie': 3}) }}">Rugby</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-tennis"  href="{{ path('app_accueil', {'categorie': 4}) }}">Tennis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-basketball"  href="{{ path('app_accueil', {'categorie': 5}) }}">Basketball</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-ping_pong"  href="{{ path('app_accueil', {'categorie': 6}) }}">Tennis de table</a>
                        </li>
                    </ul>
                </div>
        {% block body %}{% endblock %}
            <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="subscribe">
                        <h3>Abonnez-vous à notre newsletter</h3>
                        <form action="php/newsletter.php" method="post">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Entrez votre adresse e-mail"
                                    aria-label="Entrez votre adresse e-mail" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">S'inscrire</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact">
                        <h3>Contactez-nous</h3>
                        <a href="https://www.google.com/maps/place/85+Av.+de+Denain,+59300+Valenciennes/@50.3543494,3.4995157,17z/data=!3m1!4b1!4m6!3m5!1s0x47c2ec4b08b7d9df:0x9e3e3453d92c2b80!8m2!3d50.3543494!4d3.4995157!16s%2Fg%2F11c0y1hvg0?entry=ttu"
                        target="_blank">85 Avenue de Denain</a>
                        <p>Téléphone : 03 27 22 70 00</p>
                        <p>Email : all4sport@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    </body>
</html>