{% extends 'base.html.twig' %}

{% block title %}Filtrage produit{% endblock %}

{% block body %}
    <h1>Filtrage produit par rayon</h1>

  <form method="get" action="{{ path('filtre') }}">
    <label for="categories">Sélectionnez un rayon :</label>
    <select name="categorie" id="categories">
        <option value="">Tous les rayons</option>
        {% for categorie in categories %}
            <option value="{{ categorie.id }}" {% if app.request.query.get('categorie') == categorie.id %}selected{% endif %}>
                {{ categorie.nom }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Filtrer">
</form>


    {# {% dump(app.request.query.get('categorie')) %} #}

    {% if app.request.query.get('categorie') %}
        <h2>Produits pour le rayon sélectionné</h2>

        {# {% dump(produitsParRayon) %} #}
    <div class="container">
        <div class="row">
                {% for produit in produitsParRayon[app.request.query.get('categorie')] %}
                <div class=" mb-4 col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ asset ('pictures/articles/' ~ produit.image) }}" alt="Le logo du produit">
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text">{{ produit.prix }} €</p>
                    </div>
                </div>
                </div>
                {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
